@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    /*background-color: #C08B5C;*/
    background: linear-gradient(to right, #a35a30, #c08b5c, #ffa764);
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header__titulo {
   /*flex: 1; El flex 1 ocupa todo el ancho disponble. La otra opción es width: 100%*/
    text-align: center;
    font-family: "Emblema One", system-ui;
    font-size: 80px;
    color:#481E14;
}
.header__titulo__img{
    height: 250px;
    margin-left: 40px;
}
.main {
    display: flex;
    padding-left: 5%;
    font-family: "Atma", system-ui;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    color:#FED8B1;
}
.div__productos {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 50%; /* Cada div ocupa la mitad del ancho disponible */
}
.div__precios {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 40px;
    width: 50%; /* Cada div ocupa la mitad del ancho disponible */
}
.subtitulos__precios {
    visibility: hidden; 
}
.parrafo__precios {
    margin-top: 10px;   
    margin-bottom: 5px; 
    line-height: 1.5;
}
.subparrafo__precios {
    visibility: hidden;
    font-size: 25px;
    margin-top: 1px;
}
.subtitulos {
   color:#481E14;
}
.parrafo {
    
    margin-top: 10px;   
    margin-bottom: 5px; 
    line-height: 1.5;   
    
}
.subparrafo {
    font-size: 25px;
    margin-top: 1px;  
    border-bottom: 2px solid ;
}
.footer {
    width: 100%;
    background-color: #6e3819;
    color:#FED8B1;
    font-family: "Roboto Flex", sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}
.footer__div__uno {
}
.footer__div__dos {
}